#shopify-section-template--17613559333110__images_with_text_overlay_UEk37U {
    --section-padding-top: 0px;
    --section-padding-bottom: 0px;
    --color-background: 23 23 23;
    --color-foreground: 255 255 255;
    --color-border: var(--color-foreground)/ 0.1;
    --color-border-dark: var(--color-foreground)/ 0.4;
    --color-border-light: var(--color-foreground)/ 0.06;
    --color-highlight: 224 165 128;
    --color-button-background: 255 255 255;
    --color-button-border: 255 255 255;
    --color-button-text: 23 23 23;
}
#shopify-section-template--17613559333110__collection_list_TPrQKw {
    --section-padding-top: 72px;
    --section-padding-bottom: 72px;
}