#shopify-section-template--17436070478070__rich-text {
    --section-padding-top: 72px;
    --section-padding-bottom: 0px;
}
#shopify-section-template--17436070478070__empty-space {
    --spacing-height-desktop: 120px;
    --spacing-height-mobile: 44px;
}
#shopify-section-template--17436070478070__faq {
    --section-padding-top: 0px;
    --section-padding-bottom: 120px;
}